# Python cache directories
__pycache__/

# Python bytecode files
*.py[codz]
*$py.class

# Packaging
build/
dist/
*.manifest
*.spec

# Translations
*.mo
*.pot

# Environments
.venv/
venv/
env/

# App-specific files
pdfs.db
schedules_index.json
settings.json
.thumbnails/